@page "/AboutMe"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AboutMeModel
@{
    ViewData["Title"] = "Chirp! - About Me";
    Layout = "Shared/_Layout";
}

<!-- Add icon library -->

@if(Model.IsDarkMode)
{
    <link rel="stylesheet"  href="css/darkmode.css" />
}
else
{
    <link rel="stylesheet"  href="css/style.css" />
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    <div class="aboutme_lined_header">
        <span class="aboutme_header_txt">
            About Me
        </span>
    </div>
    
    <br>
    <div style="margin-left: 1.5rem">
        <h5>Username:</h5>
        <p>@User.Identity.Name</p>

        <h5>Email:</h5>
        <form method="post" asp-page-handler="changeemail" class="changeemail">
            <textarea class="aboutme" id="email" value="" rows="1" maxlength="20" name="newEmail" placeholder= @Model.Email></textarea>
            <button> Change</button>
        </form>
        <br/>

        <h5>Your Followers</h5>
        @if (Model.Followers.Any()){


            <ul id="followerlist" class="followers">
                @foreach (var follower in Model.Followers)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@follower.Name">@follower.Name</a>
                            </strong>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>You have no followers</p>
            <br />
        }
        <br/>
        <h5>Your Cheeps</h5>
        
        @if (Model.yourCheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.yourCheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                    </li>
                }
            </ul>
            await Html.RenderPartialAsync("Shared/Pagination", Model.Pagination);
        }
        else
        {
            <p>You have send no cheeps</p>
            <br />
            
        }
    <form method="post">
        <button asp-page-handler="DeleteAccount" name=authorName value=@User.Identity.Name> Delete your account</button>
    </form>
    </div>
    <br><br>
    <div class="aboutme_lined_header">
        <span class="aboutme_header_txt">
            Appearance
        </span>
    </div>
    <br>
    
    <ul class="settings_ul">
        <li class="settings_li">
            <h5>Dark mode</h5>
            @if (Model.IsDarkMode)
            {
                <i>Disable dark mode</i>
            }
            else
            {
                <i>Enable dark mode</i>
            }
        </li>
        
            <li class="settings_li">
                <label class="switch">
                    <form method="post">
                        @if(Model.IsDarkMode)
                        {
                            <input type="checkbox" name="darkmode" checked onclick="clickDarkMode()">
                        }else
                        {
                            <input type="checkbox" name="darkmode" onclick="clickDarkMode()">
                        }
                        <span class="slider round"></span>
                        <button id="darkmode_btn" style="display: none" asp-page-handler="SetDarkMode"></button>
                    </form>
                </label>
            </li>
    </ul>
    }

<script>
    function clickDarkMode() {
        document.getElementById("darkmode_btn").click();
    }
</script>


