

@page "/AboutMe"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AboutMeModel
@{
    ViewData["Title"] = "Chirp! - About Me";
    Layout = "Shared/_Layout";
}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="css/style.css" />
<div onclick=toggleEmail()>
    <div onclick=toggleName()>
    
    @if (User.Identity?.IsAuthenticated ?? false)
    {

        <img src="https://avatars.githubusercontent.com/@User.Identity.Name" alt="Avatar" class="avatar" width = "200" >
        <h2> About me </h2>

        <h5>Username:</h5>
        <form method="post" asp-page-handler="changename" class="changename">
                <textarea onclick =toggleName() class="aboutme" id="userName" value="" rows="1" maxlength="20" name="newName" placeholder= @Model.DisplayName></textarea>

            <button id = "changename" hidden class="changer"> Change</button>
        </form>

        <h5>Email:</h5>
        <form method="post" asp-page-handler="changeemail" class="changeemail">
            <textarea onclick =toggleEmail() class="aboutme" id="email" value="" rows="1" maxlength="20" name="newEmail" placeholder= @Model.Email></textarea>
            <button id = "changeemail" hidden class="changer"> Change</button>
        </form>
        <br/>

    <script>
        let toggleEmail = () => {

            let element = document.getElementById("changeemail");
            

        var obj = document.getElementById("email");

        if (document.activeElement === obj) {
            element.removeAttribute("hidden");
            
        // focus is currently in my changeemailtextarea
        } else {
            element.setAttribute("hidden", "hidden");
        // focus is currently not in my textarea
        }
    }
    let toggleName = () => {

            let element = document.getElementById("changename");
            

        var obj = document.getElementById("userName");

        if (document.activeElement === obj) {
            element.removeAttribute("hidden");
            
        // focus is currently in my textarea
        } else {
            element.setAttribute("hidden", "hidden");
        // focus is currently not in my textarea
        }
    }
    </script>

        <h4>Your Followers</h4>
        if (Model.Followers.Any()){


            <ul id="followerlist" class="followers">
                @foreach (var follower in Model.Followers)
                {
                    <li>
                        <p>
                            <img src="https://avatars.githubusercontent.com/@follower.Name" width="30" alt="Avatar" class="avatar">
                            <strong>
                                <a href="/@follower.Name">@follower.Name</a>
                            </strong>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <header>You have no followers</header>
            <br />
        }

        <h4>Your Cheeps</h4>
        
        if (Model.yourCheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.yourCheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                                <br />
                            </strong>
                            <br />
                            @cheep.Message
                        </p>
                    </li>
                }
            </ul>
            await Html.RenderPartialAsync("Shared/Pagination", Model.Pagination);
        }
        else
        {
            <header>You have send no cheeps</header>
            <br />
        }
        <br/>
        <br/>
        <form method="post">
            <button asp-page-handler="DeleteAccount" name=authorName value=@User.Identity.Name class="delete" > Delete your account</button>
        </form>
        
        {

        }
    }
    </div>
</div>