@page "/FollowView/{author}/{followType}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FollowViewModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_StandardLayout";
    var author = HttpContext.GetRouteValue("author")!.ToString();
    var followType = HttpContext.GetRouteValue("followType")!.ToString();
}

<div>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        if (followType == "following")
        {
            if (Model.FollowingList.Any())
            {
                <ul id="messagelist" class="cheeps">
                    @foreach (var user in Model.FollowingList)
                    {
                        <li>
                            <p>
                                 @if (!string.IsNullOrEmpty(user.ProfilePictureUrl)){
                                     <img src="@user.ProfilePictureUrl" width="30" alt="Avatar" class="avatar">
                                 }
                                 else
                                 {
                                     <img src="~/images/default_user_pic.png" width="30" alt="Avatar" class="avatar">
                                     
                                 }
                                <strong>
                                    @if (string.IsNullOrEmpty(user.DisplayName))
                                    {
                                        <a href="/@user.Name">@user.Name</a>
                                    }
                                    else
                                    {
                                        <a href="/@user.Name">@user.DisplayName</a>
                                    }
                                </strong>
                            </p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <em>You are not following anybody!</em>
            }
        }
        else
        {
            if (Model.FollowersList.Any())
            {
                <ul id="messagelist" class="cheeps">
                    @foreach (var user in Model.FollowersList)
                    {
                        <li>
                            <p>
                                @if (!string.IsNullOrEmpty(user.ProfilePictureUrl)){
                                    <img src="@user.ProfilePictureUrl" width="30" alt="Avatar" class="avatar">
                                }
                                else
                                {
                                    <img src="~/images/default_user_pic.png" width="30" alt="Avatar" class="avatar">
                                    
                                }
                                <strong>
                                    @if (string.IsNullOrEmpty(user.DisplayName))
                                    {
                                        <a href="/@user.Name">@user.Name</a>

                                    }
                                    else
                                    {
                                        <a href="/@user.Name">@user.DisplayName</a>

                                    }
                                </strong>
                            </p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <em>No followers here :(</em>
            }
        }
        <br/>
        {
            await Html.RenderPartialAsync("Shared/Pagination", Model.Pagination);
        }
    }
</div>
    
