@page "/{author}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserTimelineModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var user = HttpContext.GetRouteValue("author")!.ToString();
}

<div>
    <ul class="img_follow_ul">
        <li>
            @if (user == User.Identity!.Name)
            {
                <div class="profilePicture-container">
                    <form method="post" asp-page-handler="UploadProfilePicture" class="UploadProfilePicture" enctype="multipart/form-data">
                        <input type="file" id="fileInput" style="display:none" name="profilePicture"/>
                        <label for="fileInput">
                            <img alt="profilePicture" class="profilePicture_img" src="@Model.ProfilePictureUrl">
                            <div class="change-text">Change</div>
                            <button id="ChangeProfilePicture_btn" style="display: none"></button>
                        </label>
                    </form>
                </div>
            }else
            {
                <div class="profilePicture-container-others">
                    <img style="cursor: default" class="profilePicture_img" src="@Model.AuthorProfilePictureUrl" alt="profile picture">
                </div>
            }
        </li>
        <li>
            <a href="/FollowView/@user/following">@($"Following: {Model.FollowingCount}")</a>
        </li>
        <li>
            <a href="/FollowView/@user/follower">@($"Followers: {Model.FollowersCount}")</a>
        </li>
    </ul>
    <h5> @user's Timeline </h5>

    @if (User.Identity!.IsAuthenticated)
    {
        @if (user != User.Identity!.Name!)
        {
            if (Model.IsFollowingAuthor)
            {
                <form form asp-page-handler="Unfollow" method="post">
                    <button class="share" type="submit"><i class="fa fa-send"></i> Unfollow</button>
                </form>
            }
            else
            {
                <form form asp-page-handler="Follow" method="post">
                    <button class="share" type="submit"><i class="fa fa-send"></i> Follow</button>
                </form>
            }
        }
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    @{
        await Html.RenderPartialAsync("Shared/Pagination", Model.Pagination);
    }
</div>

<script>
    document.getElementById("fileInput").addEventListener("change", function () {
        document.getElementById("ChangeProfilePicture_btn").click();
    });

</script>
